#wrapper{
	border-radius:8px;
	width: 600px;
	margin:0 auto;
	background-color:#B0C1E7;
	padding:10px;
}
.clear{
	clear:both;
}
header {
	text-align: right;
}
h1 {
	margin: 1em 0 0.5em 0;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    position: relative;  
    font-size: 36px;
    line-height: 40px;
    padding: 15px 15px 15px 15%;
    color: #355681;
    box-shadow: 
        inset 0 0 0 1px rgba(53,86,129, 0.4), 
        inset 0 0 5px rgba(53,86,129, 0.5),
        inset -285px 0 35px white;
    border-radius: 10px 10px 0 0px;
    background: #fff url(http://www.logofour.com/storage/images/asp_net_logo.png) no-repeat center left;
}
footer {
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: -20px;
	background-color: #2f52a1;
	color:#FFF;
}
#BoxSet{
	border: 2px solid #1F497D;
	text-align: center;
	border-radius: 8px;
	background-color:#4C96FF;
	margin-bottom:10px;
}
#Monitor{
	border: 2px solid #1F497D;
	border-radius: 8px;
	background-color:#4C96FF;
	margin-bottom:10px;
	text-align:center;
}
#Peripherals{
	border: 2px solid #1F497D;
	text-align: center;
	border-radius: 8px;
	background-color:#4C96FF;
	margin-bottom:10px;
}
#Software{
	border: 2px solid #1F497D;
	text-align: center;
	border-radius: 8px;
	background-color:#4C96FF;
	margin-bottom:10px;
}
#paging{
	text-align:center;
	margin-top:10px;
	height:50px;
}
#paging>a{
	text-decoration: none;
	text-shadow: -1px -1px #31B5B9;
	background-color:#4C96FF;
	color:#E0D0D0;
	border:1px solid #444444;
	border-radius:10px;
	padding-left:3px;
	padding-right:3px;
	padding-top:4px;
	padding-bottom:4px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom:15px;
	font-size:20px;
}
#paging>a:hover{
	background-color: #73B6FF;
	color: #555555;
	text-shadow: -1px -1px #2D6555;
	cursor:pointer;
}
.pagingnumber{
	-moz-box-shadow:inset 0px 1px 0px 0px #e184f3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e184f3;
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c123de), color-stop(1, #a20dbd) );
	background:-moz-linear-gradient( center top, #c123de 5%, #a20dbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c123de', endColorstr='#a20dbd');
	background-color:#c123de;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #a511c0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	padding: 0px 15px 0px 15px;
	height:40px;
	line-height:40px;
	text-decoration:none;
	text-align:center;
	margin: 10px;
	text-shadow:1px 1px 0px #9b14b3;
}
.pagingnumber:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a20dbd), color-stop(1, #c123de) );
	background:-moz-linear-gradient( center top, #a20dbd 5%, #c123de 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a20dbd', endColorstr='#c123de');
	background-color:#a20dbd;
}
#mainPage{
}
footer{
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: -20px;
	background-color: #2f52a1;
	color: #FFF;
}